<div>
    <h2 id="page-heading">
        <span jhiTranslate="jeventorApp.stadio.home.title">Stadios</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-stadio" [routerLink]="['/stadio/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jeventorApp.stadio.home.createLabel">
            Create new Stadio
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="stadios">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="idStadio"><span jhiTranslate="jeventorApp.stadio.idStadio">Id Stadio</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dsStadio"><span jhiTranslate="jeventorApp.stadio.dsStadio">Ds Stadio</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="processo.id"><span jhiTranslate="jeventorApp.stadio.processo">Processo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let stadio of stadios ;trackBy: trackId">
                <td><a [routerLink]="['/stadio', stadio.id, 'view' ]">{{stadio.id}}</a></td>
                <td>{{stadio.idStadio}}</td>
                <td>{{stadio.dsStadio}}</td>
                <td>
                    <div *ngIf="stadio.processo">
                        <a [routerLink]="['../processo', stadio.processo?.id, 'view' ]" >{{stadio.processo?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/stadio', stadio.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/stadio', stadio.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'stadio/'+ stadio.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="stadios && stadios.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
