<div>
    <h2 id="page-heading">
        <span jhiTranslate="jeventorApp.stato.home.title">Statoes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-stato" [routerLink]="['/stato/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jeventorApp.stato.home.createLabel">
            Create new Stato
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="statoes">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="idStadio"><span jhiTranslate="jeventorApp.stato.idStadio">Id Stadio</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dsStadio"><span jhiTranslate="jeventorApp.stato.dsStadio">Ds Stadio</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tsCambioStato"><span jhiTranslate="jeventorApp.stato.tsCambioStato">Ts Cambio Stato</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="stadio.id"><span jhiTranslate="jeventorApp.stato.stadio">Stadio</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let stato of statoes ;trackBy: trackId">
                <td><a [routerLink]="['/stato', stato.id, 'view' ]">{{stato.id}}</a></td>
                <td>{{stato.idStadio}}</td>
                <td>{{stato.dsStadio}}</td>
                <td>{{stato.tsCambioStato | date:'medium'}}</td>
                <td>
                    <div *ngIf="stato.stadio">
                        <a [routerLink]="['../stadio', stato.stadio?.id, 'view' ]" >{{stato.stadio?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/stato', stato.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/stato', stato.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'stato/'+ stato.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
